---
title: Wings of Change
description: The Effects of Climate Change on Migratory Birds
authors: [ Annie Fu, Jennifer Russell, Daniel Sanderson ]
---

<script>
  window.location.replace('https://info4310-final-project.herokuapp.com/static/index.html')
</script>

