---
title: Chronicling the Ebb and Flow of Charlotte's Houseless Population through the Pandemic
description: In Charlotte, North Carolina, the chasm between the rich and the poor is so wide, the city has historically been coined a “tale of two cities:” one of prosperity and the other of poverty. 
authors: [ Annie Fu, Dana Gong ]
date: May 14, 2021
---

<script>
  window.location.replace('https://annieefu.github.io/nc-tentcities/')
</script>

