// Sizes
$max-width: 60rem;

// Colors
$yellow: #ffce00;
$steelblue: #a5bdda;
$blue: #2d2d94;
$lightblue: #18a0fb;
$purple: #672893;
$gray: #534b4b;
$lightgray: #CCC;
$lavender: #f3ecf2;

// Fonts
$font-primary: Mulish, Poppins, 'Poppins Regular', 'Poppins-Regular', 'Lexend Deca', 'Lexend Deca Regular', 'LexendDeca-Regular', 'Helvetica Neue', Helvetica, arial, sans-serif;
$font-secondary: Poppins, 'Poppins Regular', 'Poppins-Regular', 'Lexend Deca', 'Lexend Deca Regular', 'LexendDeca-Regular', Mullish, 'Helvetica Neue', Helvetica, arial, sans-serif;

// Misc
$mobile-cutoff: 950px;
$mobile-cutoff-xs: 350px;

