// Sizes
$max-width: 60rem;

// Colors
$yellow: #ffce00;
$steelblue: #a5bdda;
$blue: #2d2d94;
$purple: #672893;
$gray: #e2e2e2;

// Fonts
$font-primary: Mulish, Poppins, 'Poppins Regular', 'Poppins-Regular', 'Lexend Deca', 'Lexend Deca Regular', 'LexendDeca-Regular', 'Helvetica Neue', Helvetica, arial, sans-serif;
$font-secondary: Poppins, 'Poppins Regular', 'Poppins-Regular', 'Lexend Deca', 'Lexend Deca Regular', 'LexendDeca-Regular', Mullish, 'Helvetica Neue', Helvetica, arial, sans-serif;

// Misc
$mobile-cutoff: 900px;

